{% extends "Master.html" %}

{% block title %}About{% endblock %}

{% block content %}
        <!--Main Content-->
        <div class="mainContainer">
            <div class="contentArea>">

                <!--Introduction-->
                <div class="introduction">
                    <h3 id="headingColor">Welcome to Anime Database!</h3>
                    <p>Our mission is to provide anime fans with a 
                        simple, free, and convenient method of accessing 
                        information about their favorite animes.</p>
                    <p>Fans who want to learn accurate information 
                        about many of their favorite animes often must resort to 
                        conducting multiple search queries and website visits, 
                        resulting in a very inconvenient user experience. </p>
                </div>

                <!--Solution-->
                <div class="solution">
                    <h3 id="headingColor">Our Solution: Anime Database</h3>
                    <p>We used Jikan API to create a website that allows users to
                        learn more about their favorite animes through our custom
                        search feature. Jikan API is an open-source PHP & REST API that 
                        scrapes data about thousands of different animes from MyAnimeList. 
                        You can learn more <a href="https://github.com/jikan-me/jikan">here</a>.</p>
                       

                    <p>We also feature the top 5 airing animes, in addition to all
                        airing animes, on our homepage, allowing the user to browse our site and potentially
                        find new animes to explore. Users are able to access the folowing
                        data: average score, rating, synopsis, producers, studios, genres, and 
                        character information.</p>
                    </p>
                </div>

                <!--Encourage use-->
                <div class="encourage">
                    <h3 id="headingColor">We Hope You Enjoy!</h3>
                    <p>To all anime enthusiasts: We encourage you to use our website
                        and we appreciate your support!</p>
                    <p>Feel free to contact us <a href="Contact_us.html">here</a> if you have comments, questions, 
                        or concerns.
                    </p>
                </div>
            </div>
{% endblock %}
