<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <!--Statics-->
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
    <link rel="stylesheet" href="{% static 'css/Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Anime_viewing.css' %}">
    <link rel="stylesheet" href="{% static 'css/Anime_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/Help.css' %}">
    <!--Image Slider-->
    <script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
</head>
<body>
    <!-- Header -->
    <header id="headerSection">
        <h1 id="pageTitle">Anime Database </h1>
    </header>

    <!-- Navigation bar -->
    <nav id="mainNav">
        <ul>                   
            <li><a href="{% url 'Home'%}">Home</a></li>
            <li><a href="{% url 'About'%}">About</a></li>
            <li><a href="{% url 'Help'%}">Help</a></li>
            <li><a href="{% url 'Contact_us'%}">Contact Us</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}

            <!--Annyang Box-->
            <div class="audio-navigation">
                <br>
                <h2>Enable your Mic to use our Audio Navigation feature!</h2>
                <ul>
                    <li>Load a Different Page</li>
                        <ul>
                            <li>Say: <strong>Navigate to [page]</strong></li>
                            <li>Say: <strong>Search [anime]</strong> & then click the search button</li>
                        </ul>
                </ul>

                <button onclick="startAnnyang()">Turn On Listening</button>
                <button onclick="stopAnnyang()">Turn Off Listening</button>
            </div>
        

        <!--Annyang Library-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script>
            if(annyang) {
                //Commands
                var commands = {
                    'Navigate to *page': changePage,
                    'Search *anime': searchAnime
                }

                //Define functions
                 function changePage(page) {
                    if(page == 'home') {
                        window.location.href = "{% url 'Home'%}"
                    } else if (page == 'about') {
                        window.location.href = "{% url 'About'%}"
                    } else if (page == 'help') {
                        window.location.href = "{% url 'Help'%}"
                    } else if (page == 'contact us') {
                        window.location.href = "{% url 'Contact_us'%}"
                    }

                }
                 
                //function to look up the name of the anime
                function searchAnime(anime) {
                    var searchBox = document.getElementById('id_query');
                    if (searchBox) {
                        searchBox.value = anime;
                    } else {
                        console.error('Search box element not found.');
                    }
                }

                //Add command
                annyang.addCommands(commands);

                //Start listening
                function startAnnyang() {
                    annyang.start();
                }

                //Stop listening
                function stopAnnyang() {
                    annyang.abort();
                }

            }
        </script>
    </main>

    <!-- Footer -->
    <footer id="footerSection">
        <p>© 2024 Anime Database. All rights reserved. </p>
    </footer>
    <!-- Scripts -->
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            simpleslider.getSlider();
        });
    </script>
</body>
</html>
